# Ignore YOLO model weights and notebooks
src/enrichment/models/
*.pt
*.ipynb
# Ignore extracted sample images
data/raw/telegram_images/
# Ignore dagster example venv
src/orchestration/venv/
# Ignore dag.zip and yolo.zip if present
*.zip 